* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
}

/* From Uiverse.io by SteveBloX */
#admin_btn,
#user_btn {
  width: 150px;
  height: 60px;
  border: 3px solid #315cfd;
  border-radius: 45px;
  transition: all 0.3s;
  cursor: pointer;
  background: white;
  font-size: 1.2em;
  font-weight: 550;
}

#admin_btn:hover,
#user_btn:hover {
  background: #315cfd;
  color: white;
  font-size: 1.2em;
}


.main_btn {
  width: auto;
  margin-top: 10px;
  display: flex;
  gap: 10px;
}